<div class="container">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default" >
  <!-- Default panel contents -->
  <div class="panel-heading">All Users</div>


<% @users.each do |user| %>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <%= user.username %></li>

  </ul>
  <% end %>
  <div class="row"> </div>
</div>
</div>
</div>
