<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default" >
  <!-- Default panel contents -->
  <div class="panel-heading">All Users</div>


<% @users.each do |user| %>


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <a><%= user.username.capitalize %></a></li>

  </ul>
  <% end %>

</div>
</div>
</div>
</div>
